.fileGraph {
	margin-top: 10px;
  height : 260px;
  overflow: scroll;
}

.factorBox {
  border: 2px solid #c3c3c3;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;

}

.factor {
  font-size: 5em;
  padding-bottom: 0px;

}

.description {
  font-size: 1.15em;
}

circle {
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

.leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
}

text {
  font: 10px sans-serif;
}